/* =====================select ===========================*/

.breed-select {
  display: none;
}

.select {
  display: none;
}

/* =====================select ===========================*/
/* =========================loader=========================== */
.loader {
  display: none;
}

/* .desc-loader {
  display: block;
} */
/* =========================loader=========================== */
/* ===========================Error=============== ===============*/
.error {
  display: none;
}
/* ===========================Error=============== ===============*/

/* =================cat-info==================================== */
.cat-info {
  display: none;
}
/* =================cat-info==================================== */
.container {
  width: 1250px;
  border: 1px solid green;
}
